<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.energiebedarf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode='singleTask'>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityActivity" android:label="Aktivitätsfaktor" android:screenOrientation="portrait"/>
        <activity android:name=".TemperatureActivity" android:label="Temperaturfaktor" android:screenOrientation="portrait"/>
        <activity android:name=".IllnessActivity" android:label="Krankheitsfaktor" android:screenOrientation="portrait"/>
        <activity android:name=".EggwhiteActivity" android:label="Eiweißfaktor" android:screenOrientation="portrait"/>
        <activity android:name=".LiquidActivity" android:label="Feuchtigkeitsfaktor" android:screenOrientation="portrait"/>

    </application>

</manifest>